In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('../data/outlier_removed.csv')

In [22]:
df.isnull().sum()

id                          0
log_price                   0
accommodates                0
bathrooms                   0
cleaning_fee                0
                           ..
host_has_profile_pic_t      0
host_identity_verified_f    0
host_identity_verified_t    0
instant_bookable_f          0
instant_bookable_t          0
Length: 230, dtype: int64

In [23]:
df.loc[df['log_price']>1]

,id,log_price,accommodates,bathrooms,cleaning_fee,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,...,city_DC,city_LA,city_NYC,city_SF,host_has_profile_pic_f,host_has_profile_pic_t,host_identity_verified_f,host_identity_verified_t,instant_bookable_f,instant_bookable_t
0,6901257,5,3,1,1,94,2,100,1,1,...,0,0,1,0,0,1,0,1,1,0
1,6304928,5,7,1,1,100,6,93,3,3,...,0,0,1,0,0,1,1,0,0,1
2,7919400,4,5,1,1,100,10,92,1,3,...,0,0,1,0,0,1,0,1,0,1
3,3808709,4,2,1,1,100,4,40,0,1,...,1,0,0,0,0,1,0,1,0,1
4,12422935,4,2,1,1,100,3,100,1,1,...,0,0,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52895,14549287,4,1,1,0,94,0,94,1,1,...,0,0,1,0,0,1,0,1,1,0
52896,13281809,5,4,2,1,100,16,93,2,4,...,0,1,0,0,0,1,1,0,1,0
52897,18688039,5,5,1,1,100,43,94,2,2,...,0,0,1,0,0,1,0,1,0,1
52898,17045948,5,2,1,1,100,0,94,0,2,...,0,0,1,0,0,1,1,0,0,1
52899,3534845,4,4,1,0,100,205,96,1,2,...,0,1,0,0,0,1,0,1,1,0

In [24]:
df

,id,log_price,accommodates,bathrooms,cleaning_fee,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,...,city_DC,city_LA,city_NYC,city_SF,host_has_profile_pic_f,host_has_profile_pic_t,host_identity_verified_f,host_identity_verified_t,instant_bookable_f,instant_bookable_t
0,6901257,5,3,1,1,94,2,100,1,1,...,0,0,1,0,0,1,0,1,1,0
1,6304928,5,7,1,1,100,6,93,3,3,...,0,0,1,0,0,1,1,0,0,1
2,7919400,4,5,1,1,100,10,92,1,3,...,0,0,1,0,0,1,0,1,0,1
3,3808709,4,2,1,1,100,4,40,0,1,...,1,0,0,0,0,1,0,1,0,1
4,12422935,4,2,1,1,100,3,100,1,1,...,0,0,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52895,14549287,4,1,1,0,94,0,94,1,1,...,0,0,1,0,0,1,0,1,1,0
52896,13281809,5,4,2,1,100,16,93,2,4,...,0,1,0,0,0,1,1,0,1,0
52897,18688039,5,5,1,1,100,43,94,2,2,...,0,0,1,0,0,1,0,1,0,1
52898,17045948,5,2,1,1,100,0,94,0,2,...,0,0,1,0,0,1,1,0,0,1
52899,3534845,4,4,1,0,100,205,96,1,2,...,0,1,0,0,0,1,0,1,1,0